.named-color {
    background-color: red;
}

.hex-color {
    background-color: #00ff00;
}

.rgb-color {
    background-color: rgb(0, 0, 255);
}

.rgba-color {
    background-color: rgba(255, 0, 0, 0.5);
}

.opacity-box {
    background-color: red;
    opacity: 0.5;
}

.rgba-box {
    background-color: rgba(255, 0, 0, 0.5);

}
